<%= form_for(@red) do |f| %>
  <% if @red.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@red.errors.count, "error") %> prohibited this red from being saved:</h2>

      <ul>
      <% @red.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>